<%= form_with(model: whataday, local: true) do |form| %>
  <% if whataday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whataday.errors.count, "error") %> prohibited this whataday from being saved:</h2>

      <ul>
      <% whataday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :when %>
    <%= form.text_field :when %>
  </div>

  <div class="field">
    <%= form.label :how %>
    <%= form.text_field :how %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
